@media screen and (max-width: 375px) {
    .box {
        gap: 32px;
    }

    .box li {
        width: 100%;
    }

    .box img {
        width: 128px;
        height: 128px;
        display: block;
        padding-bottom: 16px;
    }

    .box p {
        padding-top: 8px;
    }
}