@media screen and (max-width: 375px) {
    header {
        margin-bottom: 30px;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 4fr 1fr 2fr;
        gap: 30px;
        grid-template-areas: 'section section section'
                        'div1 div2 div3'
                        'aside aside aside'
    }
}